dyndocs/CernerBasicContent/formats/schema/concept/health-concern.xsd

<xsd:schema xmlns="urn:com-cerner-patient-ehr:v3" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            targetNamespace="urn:com-cerner-patient-ehr:v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.4" jaxb:version="2.0"
            xmlns:annox="http://annox.dev.java.net"
            jaxb:extensionBindingPrefixes="annox">
    <xsd:include schemaLocation="../common/date-time/date-time.xsd"/>
    <xsd:include schemaLocation="../common/date-time/fuzzy-date.xsd"/>
    <xsd:include schemaLocation="../common/comment.xsd"/>
    <xsd:include schemaLocation="../common/media/text.xsd"/>
    <xsd:include schemaLocation="../global/person/person-type.xsd" />
    <xsd:element name="health-concern-data">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Collection of health concerns for the patient</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="health-concern" type="healthConcernType" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            One of the patient's current health concerns
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="healthConcernType">
        <xsd:sequence>
            <xsd:element name="associated-goal-id" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Association to goals being taken in order to achieve health concern. Will be empty unless goal associations
                        are requested for the health concern content type.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="description" type="textType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The text which describes the health concern.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="codified-description" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The codified or free-text description for a health concern.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="text" type="textType" />
                        <xsd:element name="code" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">
                                    A List of codified values from a standard code system.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="comments" type="textType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Any comments a provider may have about this concern.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="commentV2" type="commentV2Type" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Any comments a provider may have about this concern.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="recorded-dt-tm" type="dateTimeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The date and time of the recording of this concern.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="last-updt-dt-tm" type="dateTimeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The last date and time this health concern was updated.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="created-by" type="personType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The identifier of the person who originally created (recorded) this concern.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="updated-by" type="personType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The identifier of the person who last updated this concern.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="created-for" type="personType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The identifier of the person who this concern was created for.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="expressed-by" type="personType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The person who originally expressed the health concern.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="onset-date-time" type="fuzzyDateType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The date when this first became a concern. No time is associated with this date.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="resolved-personnel" type="personType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The identifier of the personnel who resolved this health concern.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="resolved-date-time" type="fuzzyDateType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The date when this concern was resolved. No time is associated with this date.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="health-concern-instance-uuid" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The UUID of this health concern instance.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="health-concern-group-uuid" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The UUID of this health concern. Multiple health concern instances may share this group UUID.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="category-code" type="xsd:long">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The category of this health concern (e.g. behavioral, financial, other). Code Set 4270007
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="status-code" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The status of this health concern (i.e. active, resolved, cancelled). Code Set 12030 for Millennium.
                    https://github.cerner.com/ipoc/ipoc-model/blob/master/src/main/java/com/cerner/ipoc/model/healthconcerns/enums/HealthConcernStatus.java
                    for HI.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="onset-date" type="xsd:date">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The date when this first became a concern. No time is associated with this date.
                </xsd:documentation>
                <xsd:appinfo>
                    <annox:annotate target="getter">@java.lang.Deprecated</annox:annotate>
                    <annox:annotate target="setter">@java.lang.Deprecated</annox:annotate>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="resolved-personnel-id" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The identifier of the personnel who resolved this health concern.
                </xsd:documentation>
                <xsd:appinfo>
                    <annox:annotate target="getter">@java.lang.Deprecated</annox:annotate>
                    <annox:annotate target="setter">@java.lang.Deprecated</annox:annotate>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="resolved-date" type="xsd:date">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The date when this concern was resolved. No time is associated with this date.
                </xsd:documentation>
                <xsd:appinfo>
                    <annox:annotate target="getter">@java.lang.Deprecated</annox:annotate>
                    <annox:annotate target="setter">@java.lang.Deprecated</annox:annotate>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="recorded-personnel-id" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The identifier of the personnel who originally recorded this concern.
                </xsd:documentation>
                <xsd:appinfo>
                    <annox:annotate target="getter">@java.lang.Deprecated</annox:annotate>
                    <annox:annotate target="setter">@java.lang.Deprecated</annox:annotate>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="last-updt-personnel-id" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The identifier of the personnel who last updated this concern.
                </xsd:documentation>
                <xsd:appinfo>
                    <annox:annotate target="getter">@java.lang.Deprecated</annox:annotate>
                    <annox:annotate target="setter">@java.lang.Deprecated</annox:annotate>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="source-code" type="xsd:long">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The codified value of the source of the concern. This will be the person's relationship to the patient (e.g.
                    nurse, parent, patient, self, other, unknown). Code Set 12023
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="codified-text-type">
        <xsd:sequence>
            <xsd:element name="text" type="textType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The codified or free-text description for a health concern.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="code" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        A List of codified values from a standard code system.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>